<div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-center">
                <h3 class="modal-title text-light">Edit a Review</h3>
                <button type="button" class="close bg-light" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body px-5">
                <form id="commentForm">
                    <div class="row" text-center id="editcommentBody">
                        <label for="nickname">Nickname</label>
                        <input type="text" id="editnickname" class="form-control" required>
                        <label for="userComments">Review</label>
                 <textarea id="edituserComments" required class="form-control form-rounded" rows="3" cols="100%"></textarea>
                        <label for="popcorn">Rating</label>
                        <img src="images/popcorn_bw.png" class="editpop" value="1" onmouseover="rateIt(this)" />
                        <img src="images/popcorn_bw.png" class="editpop" value="2" onmouseover="rateIt(this)" />
                        <img src="images/popcorn_bw.png" class="editpop" value="3" onmouseover="rateIt(this)" />
                        <img src="images/popcorn_bw.png" class="editpop" value="4" onmouseover="rateIt(this)" />
                        <img src="images/popcorn_bw.png" class="editpop" value="5" onmouseover="rateIt(this)" />
                    </div>

                    <div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitComment" onClick="updateComment()">Submit</button>
                        <button type="button" class="btn btn-secondary bg-dark" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
