<!-- this is a structure of Bootstrap Modal -->
<div class="modal fade " id="failModal" tabindex="-1" role="dialog">    
	<div class="modal-dialog modal-sm " role="document">        
		<div class="modal-content">            
			<div class="modal-body px-5">                
				<img src="images/fail.png" class="img-fluid"/>
			</div>        
		</div>    
	</div>
</div>
