<!-- this is a structure of Bootstrap Modal -->
<div class="modal fade " id="messageModal" tabindex="-1" role="dialog">    
	<div class="modal-dialog modal-sm " role="document">        
		<div class="modal-content">            
			<div class="modal-body px-5">                
				<span id="message">This is an academic website teaching students on fundamentals of various web technologies such as CSS, HTML, Javascript and Restful Web APIs<br><br>Please use Firefox or Chrome</span>                
			<div class="modal-footer">                    
				<button type="button" class="btn btn-secondary bg-dark" data-dismiss="modal" style="float: none; margin: 0 auto;">Close</button>                
			</div>            
			</div>        
		</div>    
	</div>
</div>
