<!-- this is a structure of Bootstrap Modal -->
<div class="modal fade " id="registerModal" tabindex="-1" role="dialog">    
	<div class="modal-dialog modal-sm " role="document">        
		<div class="modal-content">            
			<div class="modal-body px-5"> 
				
				<!--Form for Registration-->
				<form>
					<div class="form-group">
						<label for="exampleInputUsername">Username</label>
						<input type="username" class="form-control" id="username" placeholder="Enter username">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword">Password</label>
						<input type="password" class="form-control" id="password" placeholder="Enter password">
					</div>
					<div class="form-group">
						<label for="exampleInputFirstName">First Name</label>
						<input type="firstname" class="form-control" id="firstname" placeholder="Enter first name">
					</div>
					<div class="form-group">
						<label for="exampleInputLastName">Last Name</label>
						<input type="lastname" class="form-control" id="lastname" placeholder="Enter last name">
					</div>

				<!--<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="genderRadioOptions" id="gender" value="male">
						<label class="form-check-label" for="maleRadio">male</label>
					  </div>
					  <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="genderRadioOptions" id="gender" value="female">
						<label class="form-check-label" for="femaleRadio">female</label>
					  </div>-->
					
					  <div class="form-group">
						<label for="exampleInputGender">Gender</label>
						<input type="gender" class="form-control" id="gender" placeholder="Enter gender">
					</div>

					<div class="form-group">
						<label for="exampleInputAge">Age</label>
						<input type="age" class="form-control" id="age" placeholder="Enter age">
					</div>

					<div class="form-group">
						<label for="exampleInputAddress">Address</label>
						<input type="address" class="form-control" id="address" placeholder="Enter address">
					</div>
					<div class="form-group">
						<label for="exampleInputPostalCode">Postal Code</label>
						<input type="postalcode" class="form-control" id="postalcode" placeholder="Enter postalcode">
					</div>
					<div class="form-group">
						<label for="exampleInputPhoneNumber">Phone Number</label>
						<input type="phoneno" class="form-control" id="phoneno" placeholder="Enter phone number">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail">Email</label>
						<input type="email" class="form-control" id="email" placeholder="Enter email">
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>
<!--<div class="form-image">
						<input id = "image" name="image" type="file" class="file" data-browse-on-zone-click="true">
					</div>-->
					



					<button onclick="registerMe();" type="button" class="btn btn-primary">Register</button>
					</form>   
			</div>        
		</div>    
	</div>
</div>

